html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd{
    margin: 0;
    font-size: inherit;
}
img {
    max-width: 100%;
    
    }
input,
    button,
    textarea,
    select {
        font: inherit;
    }

html,
body {
    height: 100%;
}    
body{
    @extend %nunito-regular;  
    color: $default;  
    font-size: 24px;
    line-height: 32px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 1 auto;
}

.container{
    max-width: 1440px;
    padding: 0 94px;
    margin: 0 auto;
}
.title{
    @extend %nunito-black;
    font-size: 68px;
    line-height: 72px;
    margin-bottom: 50px;
}

