
// @media (max-width: 1366px){
    
// }
@media (max-width: 1184px){
    .rewievs{
        &__title{
            font-size: 50px;
            line-height: 52px;
            margin-bottom: 23px;
        }
        &__content{
            max-width: 705px;
        }
        &__item{
            width: 215px;
            padding: 15px;
            margin-bottom: 15px;
        }
        &__rewievs__text {
            font-size: 11px;
            line-height: 15px;
            margin-bottom: 11px;
        }
    }
}
@media (max-width: 885px){

    body{
        font-size: 20px;
        line-height: 25px;
    }
    .container{
        padding: 0 50px;
    }
    .menu{
        ul{
            display: none;
        }
        
       
        
       
    }
    .adaptive{     
        &__btn{
            display: block;  
            background-color: transparent;
            border: none;
            cursor: pointer;
            &::before{
                content: "";
                width: 25px;
                height: 2px;
                background-color: #000;
                display: block;
                margin-bottom: 6px;
            }
            &::after{
                content: "";
                width: 25px;
                height: 2px;
                background-color: #000;
                display: block;
                margin-bottom: 0px;
            }
        }
        &__btn-line{
           display: block;
            background-color: #000;
            width: 25px;
            height: 2px;
            margin-bottom: 6px;
        }
       
        
       
    }
    .header{
        height: 78px;
        padding: 15px 0 15px;
        &__btn{
            padding: 7px 34px;
            font-size: 13px;
        }
    }
    .top{
        &__inner{
            height: 487px;
        }
        &__title{
            max-width: 513px;
            font-size: 80px;
            line-height: 86px;
        }
        &__title-second{
            &::before{
                content: "";
                
                background-image: url('../images/unicorn-resize.png');
                width: 350px;
                height: 375px;
                transform: translateX(-14%);
                top: -127%;
    
            }
    
        }
    }
    .infinity,
    .magic{
        padding: 49px 0;
        &__title{
            font-size: 65px;
            line-height: 75px;
        }
    }
    .destiny,
    .futher,
    .quality{
        height: 730px;
        &__content{
            padding-left: 20px;
        }
        &__title{
            font-size: 51px;
            line-height: 53px;
            margin-bottom: 45px;
            max-width: 800px;
        }
        &__text{
            max-width: 260px;
            margin-bottom: 30px;
        }
        &__link{
            font-size: 11px;
            &::before{
                top: -5px;
            }
        }
    }
    .futher{
        height: 680px;
    }
    .rewievs{
        &__title{
            font-size: 50px;
            line-height: 52px;
            margin-bottom: 23px;
        }
        &__content{
            max-width: 600px;
        }
        &__item{
            width: 180px;
            padding: 12px;
            margin-bottom: 10px;
        }
        &__text {
            font-size: 10px;
            line-height: 13px;
            margin-bottom: 8px;
        }
        &__name{
            font-size: 9px;
            line-height: 11px;
        }
        &__position{
            font-size: 9px;
            line-height: 11px;
        }


}
    .lesser{
        &__content{
            max-width: 360px;
        }
        &__title {
            font-size: 55px;
            line-height: 62px;
            margin-bottom: 29px;
        }
    }
}

@media (max-width: 670px){
    .rewievs{
        &__title{
            font-size: 40px;
            line-height: 42px;
            margin-bottom: 23px;
        }
        &__content{
            max-width: 450px;
        }
        &__item{
            width: 130px;
            padding: 10px;
            margin-bottom: 10px;
        }
        &__text {
            font-size: 9px;
            line-height: 11px;
            margin-bottom: 8px;
        }
        &__name{
            font-size: 9px;
            line-height: 11px;
        }
        &__position{
            font-size: 9px;
            line-height: 11px;
        }


    }
    .lesser{
        background-image: none;
        height: 350px;
        padding: 19px 0;
        &__content{
            max-width: 360px;
            margin: 0 auto;
        }
        &__title {
            font-size: 35px;
            line-height: 47px;
            margin-bottom: 29px;
        }
        &__text{
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 565px){
    body{
        font-size: 15px;
        line-height: 20px;
    }
    .top{
        &__title{
            font-size: 61px;
            line-height: 73px; 
            margin-bottom: 43px;     
        }
    }
    .infinity,
    .magic{
        padding: 40px 0;
        &__title{
            font-size: 50px;
            line-height: 60px;
        }
    }
    .destiny,
    .futher,
    .quality{
        height: 600px;
        &__title{
            font-size: 35px;
            line-height: 37px;
            margin-bottom: 40px;
            max-width: 800px;
        }
        &__text{
            max-width: 200px;
   
        }
    }
    .futher,
    .quality{
        height: 350px;
        padding: 50px 0;
        &__image{
            display: none;
        }
        &__text{
            max-width: 400px;
   
        }
    }
    .rewievs{
        &__container{
            padding: 0;
        }
        padding: 20px 0;
        &__content{
            display: inline-block;
            flex-wrap: wrap;
            max-width: 600px;
        }
        &__title{
            font-size: 32px;
            line-height: 36px;
        }
        &__item{
            width: 250px;
            height: 100%;
            padding: 20px;
            margin-bottom: 20px;
            background-color: #fff;
            border-radius: 8px;
        
        }
        &__text{
            font-size: 13px;
            line-height: 17px;
            text-align: left;
            margin-bottom: 15px;
        }
        &__item-box{
            display: flex;
            justify-content: left;
            align-items: center;
        }
        &__item-person{
            padding-left: 15px;
            font-size: 14px;
            font-weight: 800;
            text-align: left;
            
        }
        &__name{
            font-size: 14px;
            line-height: 22px;
        }
        &__position{
            font-size: 11px;
            font-weight: 400;
            line-height: 13px;
        }

    }
}
@media (max-width: 455px){
    body{
        font-size: 11px;
        line-height: 17px;
    }
    .container{
        padding: 0 25px;
    }
    .header{
        &__btn{
            padding: 5px 20px;
            font-size: 10px;
        }
    }
    .logo{
        font-size: 21px;
    }
    .top{
        &__inner{
            height: 350px;
        }
        &__title{
            font-size: 45px;
            line-height: 50px;      
        }
        &__title-second{
            &::before{
                content: "";
                
                background-image: url('../images/unicorn-resize-min.png');
                width: 250px;
                height: 268px;
                transform: translateX(-14%);
                top: -127%;
    
            }
    
        }
    }
    .infinity,
    .magic{
        padding: 40px 0;
        &__title{
            font-size: 35px;
            line-height: 45px;
            margin-bottom: 16px;
        }
        &__text{
            margin-bottom: 16px;
        }
    }
    .destiny,
    .futher,
    .quality{
        height: 480px;
        &__title{
            font-size: 30px;
            line-height: 32px;
            margin-bottom: 30px;
        }
        &__text{
            max-width: 160px;
   
        }
    }
    .futher,
    .quality{
        height: 330px;
        &__text{
            max-width: 300px;
        }
    }
}


