




%blackhansans-regular{
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
}


%nunito-regular{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
%nunito-semibold{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}
%nunito-bold{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}
%nunito-extrabold{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}
%nunito-black{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
}

$rose: #FFCCBC;
$default: #0B4141;
// %sf-light{
//     font-family: 'SFProDisplay-Light', sans-serif;
//     font-weight: 300;
// }

// %sf-medium{
//     font-family: 'SFProDisplay-Medium', sans-serif;
//     font-weight: 500;
// }
